.vercel
Preview 1.jpeg
Preview 2 cropped pic.jpeg
preview 2 logs.jpeg
preview 2.jpeg
preview 1 logs.jpeg
Preview 1 cropped pic .jpeg
countrx-api-error-1767405081031.json
countrx-api-error-1767405092134.json
countrx-api-error-1767405102828.json
Actual cropped capture.png
.gitignore
